<div class="form-group">
  <label class="control-label" for="poll_question">
    <%= :question.l %>
  </label>
  <%= text_field_tag 'poll[question]', nil, :class => 'text' %>
</div>
<div class="form-group">
  <label class="control-label">
    <%= :choices.l %>
    <ul class="list" id="options">
      <% 3.times do %>
        <li>
          <%= text_field_tag 'choices[]', nil, :class => 'text' %>
        </li>
      <% end %>
    </ul>
  </label>
</div>
