<% completeness ||= profile_completeness(user) %>
<% percent = completeness[:score] %>
<table style="margin-bottom: 0" width="100%">
  <tr>
    <td class="bars">
      <div class="progress" style="width:50%">
        <div class="progress-bar progress-bar-success" style="width:<%= percent %>%"></div>
      </div>
      <small>
        <%= number_to_percentage(percent, :precision => 0) %>
        profile completeness
      </small>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Profile Completion Tips:</strong>
      <ul class="checks">
        <% completeness[:incomplete].each do |line| %>
          <li>
            <%= line[:action] %>
            <small>
              <%= "+(#{number_to_percentage((line[:val].to_f/completeness[:total].to_f)*100, :precision => 0)})" %>
            </small>
          </li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>
