<dl class="vcard clear">
  <dt class="photo">
    <%= link_to image_tag(user.avatar_photo_url(:thumb), :alt => "#{user.login}"), user_path(user) %>
  </dt>
  <dd class="fn">
    <%= link_to user.login, user_path(user), :class => 'url' %>
  </dd>
  <dd>
    <% if user.description %>
      <p>
        <%= truncate_words( user.description, 10, '...') %>
      </p>
    <% end %>
  </dd>
</dl>
