<% @page_title=:recent_photos.l %>
<ul class="list-unstyled thumbnails">
  <% @photos.each do |photo| %>
    <li class="col-sm-3">
      <%= link_to image_tag(photo.photo.url(:medium)), user_photo_path(photo.user, photo), :class => 'thumbnail' %>
    </li>
  <% end %>
</ul>
<%= paginate @photos, :theme => 'bootstrap' %>
