 @user.username 
 form_for @edit_user, :url => settings_path, :method => :post,
  :html => { :id => "edit_user" } do |f| 
 error_messages_for f.object 
 f.label :username, "Username:", :class => "required" 
 f.text_field :username, :size => 15 
 User.username_regex 
 f.label :password, "New Password:", :class => "required" 
 f.password_field :password, :size => 40, :autocomplete => "off" 
 f.label :password_confirmation, "Confirm Password:",
        :class => "required" 
 f.password_field :password_confirmation, :size => 40,
        :autocomplete => "off" 
 f.label :email, "E-mail Address:", :class => "required" 
 f.text_field :email, :size => 40 
 f.label :about, "About:", :class => "required" 
 f.text_area :about, :size => "100x5", :style => "width: 600px;" 
 render :partial => "global/markdownhelp" 
 f.submit "Save Account Settings" 
 f.label :pushover_user_key,
        raw("<a href=\"https://pushover.net/\">Pushover</a>:"),
        :class => "required" 
 link_to((f.object.pushover_user_key.present??
        "Manage Pushover Subscription" : "Subscribe With Pushover"),
        "/settings/pushover", :class => "pushover_button", :method => :post) 
 f.label :email_replies, "Receive E-mail:", :class => "required" 
 f.check_box :email_replies 
 f.label :pushover_replies, "Receive Pushover Alert:",
        :class => "required" 
 f.check_box :pushover_replies 
 f.label :email_mentions, "Receive E-mail:", :class => "required" 
 f.check_box :email_mentions 
 f.label :pushover_mentions, "Receive Pushover Alert:",
        :class => "required" 
 f.check_box :pushover_mentions 
 f.label :email_messages, "Receive E-mail:", :class => "required" 
 f.check_box :email_messages 
 f.label :pushover_messages, "Receive Pushover Alert:",
        :class => "required" 
 f.check_box :pushover_messages 
 f.label :mailing_list_mode, "Receive List E-mails:",
        :class => "required" 
 f.select :mailing_list_mode, [ [ "No e-mails", 0 ],
        [ "All stories and comments", 1 ], [ "Only stories", 2 ] ] 
 Rails.application.shortname 

        @edit_user.mailing_list_token 
 Rails.application.domain 
 f.label :show_story_previews, "Show Story Previews:",
        :class => "required" 
 f.check_box :show_story_previews 
 f.label :show_avatars, "Show User Avatars:", :class => "required" 
 f.check_box :show_avatars 
 f.submit "Save All Settings" 
 end 
 form_for @edit_user, :url => delete_account_path, :method => :post,
  :html => { :id => "delete_user" } do |f| 
 f.label :password, "Verify Password:", :class => "required" 
 f.password_field :password, :size => 40, :autocomplete => "off" 
 f.submit "Yes, Delete My Account" 
 end 
 render :partial => "users/invitationform" 
