<% widget do  %>
  <h3>
    <%= :need_to_contact_us.l %>
  </h3>
  <p>
    <%= :dont_wait_its.l %>
    <a href="mailto:<%= configatron.support_email %>">
      <%= configatron.support_email %>
    </a>
  </p>
<% end %>
