<% widget do %>
  <h4>
    <div class="small">Explore</div>
  </h4>
  <ul class="list-unstyled">
    <% Category.all.each do |c| %>
      <li>
        <%= link_to c.name, category_path(c) %>
      </li>
    <% end %>
    <li>
      <%= link_to :whats_popular.l, popular_url, {:class => 'popular'} %>
    </li>
    <% Page.all.each do |page| %>
      <% if (logged_in? || page.page_public) %>
        <li>
          <%= link_to page.title, pages_path(page) %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
